$side-padding: 0 2em;
$yellow-orange-gradient: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
$white-color: #ffffff;
$main-font: 'Montserrat';
$secondary-font: 'Kaushan Script';
$third-font: "Roboto - Light Italic";
$hover-color: #fce38a;
$section-line-color: #f38181;
$shadow-color: #95e1d3;
$border-opacity: rgba(255,255,255, 0.3);
$grey-gradient: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8));
$grey-border: #e5e5e5;
$grey-background: #f8f8f8;
$light-grey-font-color: #999999;
$section-text-font-size: 15px;
$font-size-normal: 1em;