@import './partials/_mixins.scss';
@import './partials/_variables.scss';

@media (min-width: 540px) {
  .wrapper {
    .header-container {
      .header-center {
        margin-top: 25%;
      }
    }
    
    .statistics {
      flex-wrap: nowrap;
      padding: 0 2em;
  
      &-item {
        justify-content: flex-start;
        border-right: 1px solid $border-opacity;
        border-bottom: none;
        text-align: center;
  
        &:first-of-type {
          border-left: 1px solid $border-opacity;
        }
      }
    }
  
    .amazing-services {
      .services {
        &-wrapper {
          .service-description {
            flex-direction: row;
            flex-wrap: wrap;
            display: grid;
            grid-template-rows: 50% 50%;
            grid-template-columns: 40px 15% 60%;
  
            .section-header {
              text-align: left;
            }
  
            .section-text {
              grid-column: 2/4;
              padding: 0;
              text-align: left;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 720px) {
  .wrapper {
    .statistics {
      height: 200px;
  
      &-item {
        justify-content: center;
      }
    }

    .amazing-services {
      .services {
        @include flex-wrap;

        &-wrapper {
          margin: 0 30px;

          &-description {
            grid-template-columns: 20% 30% 50%;

            .section-header {
              margin-left: 10px;
            }

            .section-text {
              margin-left: 10px;
              width: 200px;
            }
          }
        }
      }
    }
  
    .meet-our-team {
      .team-images {
        @include flex-wrap;
        justify-content: space-evenly;

        .team-member-wrapper {
          width: 30%;

          &:first-child, &:nth-child(2) {
            margin-right: 10px;
          }
        }
      }
    }

    .what-we-do {
      .dropdowns-wrapper {
        .dropdown-container {
          margin: 10px 0 0 10px;
          min-width: 300px;
        }
      }
    }

    .what-people-say {
      .clients-container {
        @include flex-wrap;
        justify-content: space-evenly;

        .client-wrapper {
          width: 40%;
        }
      }
    }

    .some-of-our-work {
      .img-container {
        .work-images {
          width: 100%;
          height: 100%;
        }
      }
    }

    .latest-blog {
      .blog-container {
        .blog-post {
          width: 30%;
          margin: 0 10px;
        }
      }
    }

    .footer-container {
      .left-side-footer {
        margin-right: 10px;
        width: 30%;
      }

      .blogs-wrapper {
        margin-right: 10px;
        width: 30%;

        .blogs-container {
          .blog-item {
            flex-wrap: nowrap;
            padding: 0;
            margin-bottom: 10px;

            .blog-img {
              width: 40%;
              margin-top: 15px;
            }
          }
        }
      }

      .instagram-container {
        width: 30%;
      }
    }
  }
}

@media (min-width: 920px) {
  .wrapper {
    .amazing-services {
      .services {
        flex-direction: row;

        &-wrapper {
          flex-direction: row;
          justify-content: space-evenly;
          width: 100%;
        }
      }
    }

    .some-of-our-work {
      .img-container {
        height: 20em;
      }
    }
  }
}
